.vscode/settings.json
agent.md
.github/skills/caveman/SKILL.md
.gradle-dist/*
.gradle/*
.idea/*
*.iml
*.log
*.tmp
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.7z
.build/*
build/*
samples/*